.resultsGrid {
    height: 450px;
}

#app {
    width: auto;
}

.leftGrid {
    background-color:gray
}

.rightGrid {
    background-color:lightslategray
}

.craftyContainer {
    width: 100%;
}

.searchGrid {
    width: 50%;
}

.itemCard {
    min-width: 400px;
}